<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head('ticket')}"></head>

<body>

	<header th:insert="~{fragments/fragments :: navbar('show')}"></header>

	<main class="container">
		<div class="row">

			<th:block th:if="${successMessage != null}">
				<div th:replace="~{fragments/fragments :: successAlert(${successMessage})}"></div>
			</th:block>

			<!-- Campo con descrizione Ticket e note -->
			<div class="col-6">
				<div class="card text-bg-primary p-1 mx-4 my-3">
					<div class="card-body">
						<h4 class="card-title pb-1 border-bottom">Descrizione del ticket:</h4>
						<p class="card-text my-3 fs-5" th:text="${ticket.description}"></p>
						<div class="text-end">
							<a class="btn btn-sm btn-success m-1" th:href="@{'/notes/create/{id}'(id=${ticket.id})}"
								role="button">Aggiungi Nota</a>
						</div>
					</div>
				</div>
				<th:block th:each="note : ${ticket.notes}">
					<div class="card text-bg-success p-1 mx-4 my-3">
						<div class="card-body">
							<h4 class="card-title pb-1 border-bottom"
								th:text="'Nota del ' + ${note.FormattedCreatedAt} + ' - autore: ' + ${note.user.username}">
							</h4>
							<p class="card-text my-3" th:text="${note.text}"></p>
							<th:block th:if="${note.createdAt} != ${note.updatedAt}">
								<p class="card-text my-2 fs-6 fst-italic text-end"
									th:text="'Modificato il: ' + ${note.FormattedUpdatedAt}"></p>
							</th:block>
							<!-- Blocco con i pulsanti, visibile soltanto se lo user loggato possiede la nota -->
							<div th:if="${#authentication.principal.username} == ${note.user.username}"
								class="text-end">
								<div class="d-flex justify-content-end">
									<form th:action="@{'/notes/edit/{id}'(id=${note.id})}" method="get">
										<button type="submit" class="btn btn-sm btn-warning m-1" title="Modifica"><i
												class="fas fa-edit"></i></button>
									</form>
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-sm btn-danger m-1" title="Elimina"
										data-bs-toggle="modal" th:data-bs-target="'#delete-note-' + ${note.id}">
										<i class="fa-solid fa-trash"></i>
									</button>
								</div>
								<!-- Modal -->
								<div class="modal fade" th:id="'delete-note-' + ${note.id}" tabindex="-1"
									aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content text-dark">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="exampleModalLabel">
													Conferma
													cancellazione</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body text-center">
												Sei sicuro di voler eliminare questa nota?
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Annulla</button>
												<form class="d-inline-block"
													th:action="@{http://localhost:8080/notes/delete/{id}(id=${note.id})}"
													method="post">
													<button class="btn btn-danger m-1" type="submit"
														id="submitButton">Conferma</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
			<!-- Info Ticket -->
			<div class="col-6">
				<div class="text-bg-secondary p-2 mt-3 rounded">
					<h4 class="fw-bold ms-4 my-2 text-break"
						th:text="'Ticket #' + ${ticket.id} + ' - ' + ${ticket.title} + ' - operatore: ' + ${ticket.user.username}">
					</h4>
					<p class="ms-4 my-2"><span class="fw-bold">Categoria: </span>[[${ticket.category.name}]]</p>
					<p class="ms-4 my-2"><span class="fw-bold">Stato: </span>[[${ticket.status.displayValue}]]</p>
					<p class="ms-4 my-2"><span class="fw-bold">Creato il: </span>[[${ticket.FormattedCreatedAt}]]</p>
					<p class="ms-4 my-2"><span class="fw-bold">Ultimo aggiornamento:
						</span>[[${ticket.FormattedUpdatedAt}]]
					</p>
					<div class="m-4">
						<a class="btn btn-warning m-1" th:href="@{'/tickets/edit/{id}'(id=${ticket.id})}"
							role="button">Aggiorna Ticket</a>
						<th:block sec:authorize="hasAuthority('ADMIN')">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-danger m-1" data-bs-toggle="modal"
								th:data-bs-target="'#delete-ticket-' + ${ticket.id}">
								Elimina Ticket
							</button>
							<!-- Modal -->
							<div class="modal fade" th:id="'delete-ticket-' + ${ticket.id}" tabindex="-1"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content text-dark">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">Conferma
												cancellazione</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body text-center">
											Sei sicuro di voler eliminare il ticket?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Annulla</button>
											<form class="d-inline-block"
												th:action="@{/tickets/delete/{id}(id=${ticket.id})}" method="POST">
												<button class="btn btn-danger m-1" type="submit"
													id="submitButton">Conferma</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>

		</div>
	</main>

	<footer>
		<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>
	</footer>

</body>

</html>