<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head('tickets')}"></head>

<body>

	<header th:insert="~{fragments/fragments :: navbar('index')}"></header>

	<main class="container">
		<div class="card text-bg-primary p-1 m-4" style="width: 30rem;">
			<div class="card-body">
				<h4 class="card-title" th:text="'Ticket # ' + ${ticket.id}"></h4>
				<p class="card-text" th:text="${ticket.description}"></p>
			</div>
		</div>
	</main>

	<footer>
		<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>
	</footer>

</body>

</html>