<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head('user')}"></head>

<body>

	<header th:insert="~{fragments/fragments :: navbar('userpage')}"></header>

	<main class="container">
		<div class="row">

			<th:block th:if="${notSuccessMessage != null}">
				<div th:replace="~{fragments/fragments :: notSuccessAlert(${notSuccessMessage})}"></div>
			</th:block>

			<th:block th:if="${successMessage != null}">
				<div th:replace="~{fragments/fragments :: successAlert(${successMessage})}"></div>
			</th:block>

			<!-- Info utente -->
			<div class="col-4">
				<div class="text-bg-secondary p-2 mt-3 rounded">
					<h4 class="ms-3 mb-3 mt-2 fw-bold text-break" th:text="'RIEPILOGO - ' + ${user.username}"></h4>
					<div class="ms-3 mb-3">
						<th:block th:each="role : ${user.roles}">
							<span class="fw-bold me-2">Ruoli: </span>
							<span class="me-2" th:text="${role.name}"></span>
						</th:block>
					</div>
					<div class="ms-3 mb-3">
						<span class="fw-bold me-2">Email: </span>
						<span class="text-break" th:text="${user.email}"></span>
					</div>
					<div class="ms-3 mb-3">
						<span class="fw-bold me-2">Data di registrazione: </span>
						<span th:text="${user.FormattedCreatedAt}"></span>
					</div>
					<th:block sec:authorize="hasAuthority('OPERATOR')">
						<div class="ms-3 mb-3">
							<span class="fw-bold me-2">Ticket totali: </span>
							<span th:text="${user.tickets.size}"></span>
						</div>
						<div class="ms-3 mb-3">
							<span class="fw-bold me-2">Ticket non completati: </span>
							<span th:text="${user.ongoingTickets}"></span>
						</div>
					</th:block>
				</div>
			</div>
			<!-- Area per visualizzare lo stato attuale e cambiarlo (disponibile solo per il ruolo Operator) -->
			<th:block sec:authorize="hasAuthority('OPERATOR')">
				<div class="col-8 mt-3">
					<form id="user-form" th:action="@{/users/edit}" method="POST">
						<span class="fw-bold me-2">STATO: </span>
						<button type="submit" class="btn my-2" title="Cambia Stato"
							th:text="${user.available} ? 'DISPONIBILE' : 'NON DISPONIBILE'"
							th:classappend="${user.available} ? 'btn-success' : 'btn-danger'"></button>
					</form>
				</div>
			</th:block>
			<!-- Area per aggiungere operatori e gestire categorie (disponibile solo per il ruolo Admin) -->
			<th:block sec:authorize="hasAuthority('ADMIN')">
				<div class="col-7 mt-3">
					<a class="btn btn-success m-1" th:href="@{/users/create}" role="button">Crea Operatore</a>
					<a class="btn btn-warning m-1" th:href="@{http://localhost:8080/categories}" role="button">Gestisci
						Categorie</a>
				</div>
			</th:block>
		</div>
	</main>

	<footer>
		<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>
	</footer>

</body>

</html>